# C++ Derlenmiş Dosyalar
*.o
*.out
*.exe
sim
flight_software/sim

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# İşletim Sistemi ve IDE
.DS_Store
.vscode/
.idea/

# Veritabanı
*.db
*.sqlite3

# Python & Sanal Ortam
.venv/
env/
__pycache__/
*.pyc

# İşletim Sistemi Dosyaları (Mac)
.DS_Store

# Veri Setleri ve Büyük Dosyalar
data/
*.pkl
*.onnx.data

# API Anahtarları ve Çevresel Değişkenler
.env