fastapi
uvicorn
streamlit
pydantic
sqlalchemy
requests
folium
streamlit-folium
scikit-learn
onnxruntime
Pillow
torch
torchvision
onnx
onnxscript
streamlit
pandas
numpy
plotly
requests
scikit-learn
Pillow
torch
torchvision
onnx
onnxruntime